<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data bindig en vue</title>
</head>
<body>

  <p>En este segundo ejercicio vamos a ver que es el doble data binding. En pocas palabras es la conexion que se puede hacer con el $data de vue, en dos direcciones, osea llamar el $data pero tambien editarlo desde front con ayuda de la directiva v-model, esta hace que podamos conectar un elemento con una propiedad en el $data.</p>

  <div id="app">
    <p>El siguiente mensaje es mostrado desde el data de vue, pero tambien podemos editar dicho valor desde el input, que tendra la directiva v-model="message", message, es una propiedad que se encuentra dentro de $data.</p>
    <p>{{ message }}</p>
    <input type="text" v-model="message" style="width: 100%;">
  </div>

  <script src="./node_modules/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        message: "Hola! conociendo el doble data bindig :D"
      }
    });
  </script>
  
</body>
</html>